/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Exo 2', sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  overflow-x: hidden;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Image safety */
img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
}
